<section id="about" class="bg-dark-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><a name="about" class="anchor"></a>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        {% for post in site.about %}
          <p>{{ post.content }}</p>
        {% endfor %}
      </div>
    </div>
    <div>
      <center>
        <a href="http://mlg.eng.cam.ac.uk/">
          <img src="/images/cambridge.png" width="200" style="margin: 50px"/>
        </a>
        <a href="https://ei.is.tuebingen.mpg.de/">
          <img src="/images/mpg.png" width="150" style="margin: 50px"/>
        </a>
      </center>
    </div>
  </div>
</section>