<section id="contact" class="bg-dark-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><a name="contact" class="anchor"></a>Contact</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        More information about the Cambridge Tübingen Program can be found <a href="http://mlg.eng.cam.ac.uk/?page_id=1458">here</a>.<br />
        Feel free to contact anyone of the members if you have questions about the meeting or the program.
      </div>
    </div>
  </div>
</section>